backend/.vs/
backend/Api/bin/
backend/Api/obj/
backend/Application/bin/
backend/Application/obj/
backend/Domain/bin/
backend/Domain/obj/
backend/Infrastructure/bin/
backend/Infrastructure/obj/
simulator/CriticalAssetSimulator/bin/
simulator/CriticalAssetSimulator/obj/
*.log
*.tmp
*.swp
.DS_Store
node_modules/
.env
.vscode/
dist/
coverage/
.idea/
*.iml
*.class
*.jar
*.war
*.ear
*.db
*.sqlite
*.bak
*.old
