# Backend
backend/.vs/
backend/**/bin/
backend/**/obj/

# Simulator
simulator/**/bin/
simulator/**/obj/
frontend/critical-asset-frontend/dist/
frontend/critical-asset-frontend/node_modules/
*.log
*.tmp
*.swp
.DS_Store
node_modules/
.env
.vscode/
dist/
coverage/
.idea/
*.iml
*.class
*.jar
*.war
*.ear
*.db
*.sqlite
*.bak
*.old
