.cesium-container {
  width: 100%;
  height: calc(100vh - 48px);
}
/* Ensure Cesium overlay widgets show on top of map and are not clipped by other UI */
.cesium-container .cesium-viewer .cesium-widget, .cesium-container .cesium-viewer .cesium-viewer-toolbar {
  z-index: 3;
}